<template>
  <div id="main">

    <va-navbar style="flex-shrink: 0">
      <template #left>
        <va-navbar-item>job-interview-file-upload</va-navbar-item>
      </template>
      <template #center>
        <va-navbar-item></va-navbar-item>
      </template>
      <template #right>
        <va-navbar-item></va-navbar-item>
      </template>
    </va-navbar>

    <div id="sidebar-and-content">
      <va-sidebar textColor="dark" style="flex-shrink: 0">
        <va-sidebar-item v-for="route in navBarRoutes" :key="route.name" :to="route.path" :active="isActiveRoute(route)">
          <va-sidebar-item-content>
            <va-icon :name="route.meta.icon" />
            <va-sidebar-item-title> {{ route.name }} </va-sidebar-item-title>
          </va-sidebar-item-content>
        </va-sidebar-item>
      </va-sidebar>

      <div id="content">
        <router-view/>
      </div>

    </div>

  </div>
</template>

<script>
import { VaNavbar, VaNavbarItem, VaSidebar, VaSidebarItem, VaSidebarItemContent, VaSidebarItemTitle, VaIcon } from 'vuestic-ui';
export default {
  name: 'App',
  components: {
    "va-navbar": VaNavbar,
    "va-navbar-item": VaNavbarItem,
    "va-sidebar": VaSidebar,
    "va-sidebar-item": VaSidebarItem,
    "va-sidebar-item-title": VaSidebarItemTitle,
    "va-sidebar-item-content": VaSidebarItemContent,
    "va-icon": VaIcon,
  },
  props: {
  },
  data() {
    return {
    }
  },
  methods: {
    isActiveRoute(route) {
      return this.$route.path == route.path;
    }
  },
  computed: {
    navBarRoutes() {
      return this.$router.getRoutes().filter(route => route.meta.inNavBar);
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
  width: 100%;
  position: absolute;
}

#main {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

#sidebar-and-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow-y: hidden;
}

#content {
  padding: 4ex;
  flex-grow: 1;
  overflow-y: scroll;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
