<template>
  <TagList
    :tags="tags"
    :tags-being-added="tagsBeingAdded"
    :suggested-tags="suggestedTags"
    :deletable="true"
    @add-new-tag="addNewTag($event)"
    @add-suggested-tag="addNewTag($event)"
    @delete-tag="deleteTag($event)"
    @delete-suggested-tag="deleteSuggestedTag($event)"
  />
</template>

<script>
import axios from 'axios';
import TagList from '@/components/pure/TagList';

export default {
  name: 'ImageTagList',
  emits: [],
  props: {
    imageApiUrl: {
      type: String,
      default: null,
    },
  },
  data () {
    return {
      tags: new Set(),
      tagsBeingAdded: new Set(),
      suggestedTags: new Set(),
    }
  },
  components: {
    'TagList': TagList,
  },
  mounted () {
    axios.get(this.imageApiUrl)
    .then(response => {
      this.tags = new Set(response.data.tags);
      this.suggestedTags = new Set(response.data.suggested_tags);
    });
  },
  methods: {
    addNewTag(tagName) {
      this.tagsBeingAdded.add(tagName);
      axios.post(this.imageApiUrl+'/tags',
        tagName
      ).then((response) => {
        this.tags.add(response.data);
        this.suggestedTags.delete(tagName);
      }).catch((error) => {
        this.$vaToast.init({
          message: "could not delete tag: "+error,
          color: "danger",
          position: 'bottom-right',
        });
      }).then(() => {
        this.tagsBeingAdded.delete(tagName);
      });
    },
    deleteTag(tagName) {
      axios.delete(this.imageApiUrl+'/tags/'+tagName)
      .then(() => {
        this.tags.delete(tagName);
      })
      .catch((error) => {
        this.$vaToast.init({
          message: "could not delete tag: "+error,
          color: "danger",
          position: 'bottom-right',
        });
      });
    },
    deleteSuggestedTag(tagName) {
      axios.delete(this.imageApiUrl+'/suggested_tags/'+tagName)
      .then(() => {
        this.suggestedTags.delete(tagName);
      })
      .catch((error) => {
        this.$vaToast.init({
          message: "could not delete suggested tag: "+error,
          color: "danger",
          position: 'bottom-right',
        });
      });
    },
  },
}
</script>

<style scoped>
</style>
