<template>
  <div>
    <div id="outer">
      <div class="image">
        <a :href="fullSizeUrl" target="_blank">
          <img :src="normalSizeUrl" />
        </a>
      </div>
      <div class="tags-and-actions">
        <div class="tag-list">
          <h3>Tags:</h3>
          <ImageTagList :image-api-url="imageApiUrl"/>
        </div>
        <div class="actions">
          <h3>Actions:</h3>
          <va-button @click="deleteImage" color="danger" outline>Delete</va-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ImageTagList from '@/components/api-coupled/ImageTagList';
import { VaButton} from 'vuestic-ui';
import axios from 'axios';

export default {
  name: 'TagView',
  components: {
    'ImageTagList': ImageTagList,
    'va-button': VaButton,
  },
  data () {
    return {
      name: null,
      url: null,
      normalSizeUrl: '',
    }
  },
  mounted () {
    axios.get('/api/images/'+this.imageId)
    .then(response => {
      this.fullSizeUrl = response.data.full_size_url;
      this.normalSizeUrl = response.data.screen_size_url;
      this.tags = new Set(response.data.tags);
      this.suggestedTags = new Set(response.data.suggested_tags);
    });
  },
  computed: {
    imageId () {
      return this.$route.params.imageId;
    },
    imageApiUrl () {
      return '/api/images/'+this.imageId;
    },
  },
  methods: {
    deleteImage() {
      axios.delete('/api/images/'+this.imageId).then(() => {
        this.$vaToast.init({
          message: 'Deleted successfully',
          color: 'primary',
          position: 'bottom-right',
        });
        this.$router.go(-1);
      }).catch((error) => {
        this.$vaToast.init({
          message: 'Error while deleting: '+error,
          color: 'danger',
          position: 'bottom-right',
        });
      });
    }
  }
}
</script>

<style scoped>
#outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image {
  flex-shrink: 1;
  flex-grow: 0;
}

img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.tags-and-actions {
  width: 10em;
  margin: 1em;
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tag-list {
  margin-bottom: 1ex;
}

h3 {
  margin-bottom: 0.5ex;
}
</style>
