<template>
  <va-infinite-scroll
    :load="loadMoreAsync"
  >
    <Gallery :images="images" />
  </va-infinite-scroll>
</template>

<script>
import Gallery from '@/components/pure/Gallery';
import { VaInfiniteScroll } from 'vuestic-ui';
import axios from 'axios';

export default {
  name: 'Images',
  components: {
    'Gallery': Gallery,
    'va-infinite-scroll': VaInfiniteScroll,
  },
  data () {
    return {
      images: []
    }
  },
  mounted () {
    axios.get('/api/images')
    .then(response => {
      this.appendImagesFromResponse(response);
    });
  },
  methods: {
    async loadMoreAsync() {
      const response = await axios.get("/api/images", {
        params: {
          offset: this.images.length
        }
      });
      this.appendImagesFromResponse(response);
    },
    appendImagesFromResponse(response) {
      response.data.map(
        x => ({
          id: x.id,
          thumbnailUrl: x.thumbnail_url,
          to: '/images/'+x.id,
        })
      ).forEach(x => {
        this.images.push(x);
      });
    }
  }
}
</script>
