<template>
  <div>
    <h2>Popular tags:</h2>
    <div
      v-for="tag in tags"
      :key="tag.name"
    >
      <h3>
        {{ tag.nImages }} images tagged
        <TagChip :name="tag.name" />
        <Gallery :images="tag.sampleImages" />
      </h3>
    </div>
  </div>
</template>

<script>
import Gallery from '@/components/pure/Gallery';
import TagChip from '@/components/pure/TagChip';
import axios from 'axios';

export default {
  name: 'Tags',
  data () {
    return {
      tags: []
    }
  },
  components: {
    'Gallery': Gallery,
    'TagChip': TagChip,
  },
  mounted () {
    axios
    .get('/api/popular_tags')
    .then((response) => {
      this.tags = response.data.map((x) => ({
        name: x.name,
        nImages: x.n_images,
        sampleImages: x.sample_images.map((image) => ({
          thumbnailUrl: image.thumbnail_url,
          to: '/images/'+image.id,
        }))
      }))
    });
  },
}
</script>

<style scoped>
.tag-chip {
  margin-right: 0.5ex;
  cursor: pointer;
}

h2 {
  margin-bottom: 1ex;
}
</style>
