<template>
  <h2>Images tagged <va-chip>{{ tag }}</va-chip>:</h2>
  <va-infinite-scroll
    :load="loadMoreAsync"
  >
    <Gallery :images="images" />
  </va-infinite-scroll>
</template>

<script>
import Gallery from '@/components/pure/Gallery';
import { VaChip } from 'vuestic-ui';
import { VaInfiniteScroll } from 'vuestic-ui';
import axios from 'axios';

export default {
  name: 'TagView',
  components: {
    'Gallery': Gallery,
    'va-chip': VaChip,
    'va-infinite-scroll': VaInfiniteScroll,
  },
  data () {
    return {
      images: []
    }
  },
  mounted () {
    axios.get('/api/tags/'+this.tag+'/images')
    .then(response => {
      this.appendImagesFromResponse(response);
    });
  },
  computed: {
    tag () {
      return this.$route.params.tag;
    }
  },
  methods: {
    async loadMoreAsync() {
      const response = await axios.get('/api/tags/'+this.tag+'/images', {
        params: {
          offset: this.images.length
        }
      });
      this.appendImagesFromResponse(response);
    },
    appendImagesFromResponse(response) {
      response.data.map(
        x => ({
          id: x.id,
          thumbnailUrl: x.thumbnail_url,
          to: '/images/'+x.id,
        })
      ).forEach(x => {
        this.images.push(x);
      });
    }
  }
}
</script>
