<template>
  <div>
    <va-file-upload
      v-model="files"
      dropzone
      file-types=".jpg,.png"
      style="margin-bottom: 2ex"
    />
    <div v-if="files.length > 0" style="width: 10em; height: 5em; margin: auto; margin-top: 1em;">
      <va-button @click="uploadFiles">Upload</va-button>
    </div>
    <div v-if="uploadedFiles.size > 0" class="va-file-upload--dropzone">
      <h2 style="margin-bottom: 1ex;">Uploaded files:</h2>
      <va-card
        v-for="[id, file] in uploadedFiles"
        :key="id"
        class="uploaded-file-card"
      >
        <va-card-title>{{ file.name }}</va-card-title>
        <va-card-content>
          <div v-if="file.uploadSuccessful" class="image-and-tags">
            <div class="image">
              <router-link
                :to="'/images/'+file.id"
                target="_blank"
              >
                <va-image
                  :src="file.thumbnailUrl"
                  contain
                >
                  <template #loader>
                    <va-progress-circle indeterminate />
                  </template>
                  <template #error>
                    Error
                  </template>
                </va-image>
              </router-link>
            </div>
            <div class="tags-container">
              <h3>Tags:</h3>
              <ImageTagList :image-api-url="'/api/images/'+file.id"/>
            </div>
          </div>
          <div v-if="!file.uploadSuccessful && !file.inProgress">
            {{ file.error }}
          </div>
          <div v-if="!file.uploadSuccessful && file.inProgress">
            <va-progress-circle indeterminate />
          </div>
        </va-card-content>
      </va-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { v4 as uuidv4 } from 'uuid';
import { VaFileUpload, VaButton, VaCard, VaCardTitle, VaCardContent, VaImage, VaProgressCircle } from 'vuestic-ui';
import ImageTagList from '@/components/api-coupled/ImageTagList';

export default {
  name: 'Upload',
  components: {
    'va-file-upload': VaFileUpload,
    'va-button': VaButton,
    'va-card': VaCard,
    'va-card-title': VaCardTitle,
    'va-card-content': VaCardContent,
    'va-image': VaImage,
    'va-progress-circle': VaProgressCircle,
    'ImageTagList': ImageTagList,
  },
  data () {
    return {
      files: [],
      uploadedFiles: new Map(),
    }
  },
  methods: {
    uploadFiles() {
      for(var i = 0; i < this.files.length; i++) {
        let fakeId = uuidv4();
        let file = this.files[i];

        /* placeholder while file is being uploaded and processed */
        this.uploadedFiles.set(fakeId, {
          uploadSuccessful: false,
          inProgress: true,
          id: fakeId,
          name: file.name,
        });

        /* Based on: https://serversideup.net/uploading-files-vuejs-axios/ */
        let formData = new FormData();

        formData.append('file', file);

        axios.post('/api/images/',
          formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }
        ).then((response) => {
          this.uploadedFiles.set(fakeId, {
            uploadSuccessful: true,
            inProgress: false,
            id: response.data.id,
            name: file.name,
            thumbnailUrl: response.data.thumbnail_url,
            tags: new Set(response.data.tags),
            tagsBeingAdded: new Set(),
          });
        }).catch((response) => {
          this.uploadedFiles.set(fakeId, {
            uploadSuccessful: false,
            inProgress: false,
            id: fakeId,
            name: file.name,
            error: response,
          });
        });
      }
      this.files = [];
    },
  }
}
</script>

<style scoped>
.uploaded-file-card {
  margin-bottom: 1ex;
  cursor: default;
}

.image-and-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image {
  width: 200px;
  height: 200px;
  flex-shrink: 1;
}

.tags-container {
  width: 20em;
  padding: 2ex;
  flex-shrink: 1;
  flex-grow: 1;
}
</style>
