<template>
  <div>
    <div id="outer">
      <router-link
        v-for="image in images"
        :key="image.id"
        :to="image.to"
        class="image"
      >
        <va-image :src="image.thumbnailUrl" contain>
          <template #loader>
            <va-progress-circle indeterminate />
          </template>
          <template #error>
            Error
          </template>
        </va-image>
      </router-link>
    </div>
  </div>
</template>

<script>
import { VaImage, VaProgressCircle } from 'vuestic-ui';

export default {
  name: 'Images',
  components: {
    "va-image": VaImage,
    "va-progress-circle": VaProgressCircle,
  },
  props: {
    images: {
      type: Array,
      default: () => []
    }
  },
}
</script>

<style scoped>
#outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image {
  height: 200px;
  width: 200px;
  flex-shrink: 1;
  margin: 10px;
}
</style>
