<template>
  <span>
    <va-chip
      :outline="loading || addable"
      :color="loading ? 'secondary' : 'primary'"
      :to="addable ? null : '/tags/'+name"
      :icon="addable ? 'add' : null"
      :class="{ 'tag-chip': true, 'tag-chip-deletable': deletable }"
      @click="handleClick"
    >
      {{ name }}
      <va-progress-circle
        v-if="loading"
        indeterminate
        size="10px"
        color="secondary"
        thickness="0.2"
        style="margin-left: 0.5ex"
      />
      <va-button
        v-if="deletable"
        icon="close"
        round
        size="small"
        :flat="addable"
        class="delete-button"
        @click.prevent.stop="$emit('delete-requested')"
      />
    </va-chip>
  </span>
</template>

<script>
import { VaChip, VaButton, VaProgressCircle } from 'vuestic-ui';

export default {
  name: 'TagChip',
  props: {
    name: {
      type: String,
      default: '',
    },
    loading: {
      type: Boolean,
      default: false,
    },
    deletable: {
      type: Boolean,
      default: false,
    },
    addable: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["delete-requested", "add-requested"],
  components: {
    "va-chip": VaChip,
    "va-button": VaButton,
    "va-progress-circle": VaProgressCircle,
  },
  methods: {
    handleClick(event) {
      /* hack because Vue or Vuestic has issues with standard @click.prevent */
      if (this.addable) {
        this.$emit("add-requested");
        event.preventDefault();
      }
    }
  },
}
</script>

<style scoped>
.tag-chip {
  margin-right: 1.0ex;
  margin-bottom: 0.5ex;
  cursor: pointer;
}

.delete-button {
  margin-right: -1.8ex;
  margin-left: 0.5ex;
  width: 1ex;
  display: none;
}

.tag-chip-deletable:hover .delete-button {
  display: initial;
}

.tag-chip-deletable:hover {
  margin-right: 0.25ex;
  margin-left: -0.9ex;
}
</style>
