<template>
  <div>
    <TagChip
      v-for="tag in tags"
      :key="tag"
      ref="tags"
      :name="tag"
      :deletable="deletable"
      @delete-requested="$emit('delete-tag', tag)"
    />
    <TagChip
      v-for="tag in tagsBeingAdded"
      :key="tag"
      ref="tagsBeingAdded"
      :name="tag"
      :loading="true"
      :deletable="deletable"
      @delete-requested="$emit('delete-tag', tag)"
    />
    <TagChip
      v-for="tag in suggestedTags"
      :key="tag"
      ref="suggestedTags"
      :name="tag"
      :deletable="true"
      :addable="true"
      @add-requested="$emit('add-suggested-tag', tag)"
      @delete-requested="$emit('delete-suggested-tag', tag)"
    />
    <va-chip v-if="!addingNewTag" @click="startAddingNewTag" round outline>
      +
    </va-chip>
    <va-chip v-if="addingNewTag" outline>
      <input
        v-model="newTag"
        @blur="newTagFocusLost($event)"
        @keyup.enter="submitNewTag(true)"
        ref="newTag"
      />
      <va-button size="small" ref="submitNewTagButton" round flat>
        &gt;
      </va-button>
    </va-chip>
  </div>
</template>

<script>
import { VaChip, VaButton } from 'vuestic-ui';
import TagChip from '@/components/pure/TagChip';

export default {
  name: 'TagList',
  emits: [
    'add-new-tag', 'add-suggested-tag', 'delete-tag', 'delete-suggested-tag'
  ],
  props: {
    tags: {
      type: Set,
      default() {
        return new Set();
      }
    },
    tagsBeingAdded: {
      type: Set,
      default() {
        return new Set();
      }
    },
    suggestedTags: {
      type: Set,
      default() {
        return new Set();
      }
    },
    deletable: {
      type: Boolean,
      default: false,
    }
  },
  data () {
    return {
      newTag: '',
      addingNewTag: false,
    }
  },
  components: {
    'va-chip': VaChip,
    'va-button': VaButton,
    'TagChip': TagChip,
  },
  methods: {
    startAddingNewTag() {
      this.newTag = '';
      this.addingNewTag = true;
      this.$nextTick(() => {
        this.$refs.newTag.focus();
      });
    },
    stopAddingNewTag() {
      this.addingNewTag = false;
    },
    newTagFocusLost(event) {
      /* hack required because blur triggers before click => hidden before the
       * click on the submit button is registered */
      if (event.relatedTarget) {
        if (event.relatedTarget == this.$refs.submitNewTagButton.$el) {
          this.submitNewTag();
          return;
        }
      }
      this.stopAddingNewTag();
    },
    submitNewTag(chain) {
      let tag = this.newTag.trim();
      if (tag.length > 0) {
        if (this.tags.has(tag)) {
          console.log("duplicate tag, TODO");
        }
        this.$emit('add-new-tag', tag);
        this.newTag = '';
        if (!chain) {
          this.stopAddingNewTag();
        }
      }
    },
  },
}
</script>

<style scoped>
.tag-being-added-chip {
  margin-right: 0.5ex;
  margin-bottom: 0.5ex;
}

input {
  width: 5em;
  background-color: rgba(1, 1, 1, 0);
  border: none;
  color: rgb(44, 130, 224);
}
</style>
